
    .ap__vd{
 
        display:grid;
         grid-template-columns: repeat(2,0.2fr);
       justify-content: center;
       row-gap: 25px;
          
       
       background:url('../../assets/wood2.jpg');
          padding:2rem 0;
       }
       @media (max-width:1100px){
         .ap__vd{
          grid-template-columns: repeat(1,0.2fr);
         }
       } 
 