.img-bird{
    display: flex;
  justify-content: space-between;
  align-items: center;
  min-height:80vh;
  padding:0.5rem 1.5rem;
  background-color: var(--color-black);
}
.bird-img{
    width:45%;
    height:60vh;
 border-radius:5px;
 border:3px solid white;
    display:flex;
 
    object-fit: cover;
}

.ibird-img{
    width:100%;
    object-fit: cover;
}
.mide{
    width:1px;
    height:80vh;
    text-decoration: dashed;
    background-color: white;
}
.text-end h1{
    font-family: var(--font-base);
    padding:10px;
}
.text-end{
color:var(--color-golden);
text-align: center;
width:45%;
height:80vh;
display:flex;
flex-direction: column;
letter-spacing: 1.1px;

}
.det-ails{

margin: auto;
margin-top: 1rem;

}

table,th,td {
    border: 1px solid white;
}
table {
    border-collapse: separate;
    border-spacing: 5px;
  
 }
  th,td{
      padding: 15px;
      text-align: left;
  }
  .audiot{
  
    margin-top:2rem; 

  }
.pagenation{
    display: flex;
    justify-content: center;
 
}
 .pop-bt{
     margin-top:1rem;
 }
  @media(max-width:960px){
      .img-bird{
          flex-direction: column;
          overflow-x: hidden;
      }
      .mide{
          display: none;
          
      }
      .bird-img{
          width:100%;
          margin:2rem 3rem;
      }
      .text-end{
          width:100%;
          
          margin-bottom: 2rem;
      }
      
   
  }
  @media (max-width:450px){
      .bird-img{
          height:auto;
      }
      .text-end{
          width: 100%;
      }
  }