
.ap__card{
display:grid;

  grid-template-columns: repeat(auto-fill, 350px);
justify-content: center;
    
  grid-row-gap:25px; 
 background:url('../../assets/green.jpg');
    padding:2rem 0;
}
 @media (max-width:340px){
    .ap__card{
      
   justify-content: center;
    }
   
    
}
