.carosel{

    height:70vh;
    width:100%;
   
   margin-top:0;
}

.big{
    display:flex;
    flex-direction: column;

}
.row{
  
 margin-top:3rem;
    justify-content: center;
    display:flex;
   
}
.input{
    width:600px;

   
}
.dataResult {
    margin-top: 5px;
    width: 300px;
    height: 140px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    margin-left:375px;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
 .dataItem a:hover {
    background-color: lightgrey;
  }
 @media (max-width:950px) {
    .input {
margin-left:1.5rem ;

margin-right:1.5rem;
}  

 .big{
    min-height:500px;
  
}
}

